@model Proba.Models.Odgovor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Odgovor:</h2>

<div>
    <h4></h4>
    <br />
    @Html.DisplayFor(model => model.Tekst)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Broj pozitivnih ocena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojPozitivnihOcena)
        </dd>

        <dt>
            Broj negativnih ocena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojNegativnihOcena)
        </dd>

        <dt>
            Datum postavljanja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumPravljenja)
        </dd>

        <dt>
            Autor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.Ime)
        </dd>

        <dt>
            Ovo je odgovor na:
        </dt>

        <dd>
            @if (Model.Odgovoreni == null)
            {
                @Html.ActionLink("Pitanje", "PregledPitanja", new { id = Model.Pitanje.IDPitanje })
            }
            else
            {
                @Html.ActionLink("Odgovor", "PregledOdgovora", new { id = Model.Odgovoreni })
            }
        </dd>
    </dl>
</div>

@if (Model.Odgovor1.Count > 0)
{
    <hr />
    <table width="100%">
        <tr>
            <td>
                <h4>Odgovori:</h4>
            </td>
            <td align="right">
                <select class="form-control" id="sortiranje" onchange="sortTable()">
                    <option>Sortiraj...</option>
                    <option>Hronološki</option>
                    <option>Najviše dobrih ocena</option>
                    <option>Najviše loših ocena</option>
                </select>
            </td>
        </tr>
    </table>
}

<div id="odgovoriDiv">
    @foreach (var odg in Model.Odgovor1)
    {
        <span>
            <hr />
            <table width="100%">
                <tr>
                    <td>
                        @odg.Tekst
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        @odg.Korisnik.Ime | @odg.BrojPozitivnihOcena pozitivnih | @odg.BrojNegativnihOcena negativnih | @odg.DatumPravljenja.ToString("dd.MM.yyyy. HH.mm.ss") | @Html.ActionLink("Prikaži", "PregledOdgovora", new { id = odg.IDOdgovor })
                    </td>
                </tr>
            </table>
        </span>
    }
</div>
